body{
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
    overflow: hidden;
}
.header{
    height: 4vh;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.playArea{
    height: calc(100vh - 4vh - 3vh);
    width: 100%;
    flex:1;
    margin:0;
}
.footer{
    height: 3vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

}
#col{
    height: 100%;
    width: calc(100% / 16);
}
#col:hover{
    background-color: gray;
}
#row{
    display: flex;
    height: calc(100% / 16);
    width: 100%;
}